<div class="container-fluid w-100 container-img mb-5">
    <div class="container-fluid">
        <img src="../images/logo-white.png" alt="White logo...">
        <p>{{title}}</p>
        <p>Somos un equipo con más de 25 años de experiencia asesorando a empresas y particulares</p>
        <p>
            Desde hace más de 25 años, nuestro equipo ofrece asesoramiento legal
            personalizado tanto a empresas como a particulares
        </p>
    </div>
</div>

<div class="main-container">
    <div class="container-fluid w-100 container-arrows mb-5">
        <div class="container-fluid w-100 mb-5">
            <div class="row arrow left-arrow" id="civilArrow">
                <div class="col-md-6">
                    <div class="container-fluid arrow-title corner corner-left">
                        <div class="arrow-border"></div>
                        <a href="#">
                            <img src="../images/icons/document.png" alt="Lawyer document..">
                            Derecho Civil
                        </a>
                    </div>
                </div>
                <div class="col-md-6 arrow-text">
                    <p>
                        Contratos - Arrendamientos - Herencias -
                        Divorcios y Separaciones - Bancario -
                        Comunidad de Propietarios - Defectos de construcción -
                        Inmobiliario - Reclamaciones al seguro - Responsabilidad Contractual -
                        Responsabilidad Extracontractual
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid w-100 mb-5">
            <div class="row arrow right-arrow" id="penalArrow">
                <div class="col-md-6 arrow-text">
                    <p>
                        Defensa de los derechos de víctimas y perjudicados
                        - Asistencia al detenido y defensa del acusado
                        - Responsabilidad penal de las personas jurídicas
                        - Departamento de Compliance
                    </p>
                </div>
                <div class="container-fluid col-md-6">
                    <div class="container-fluid corner corner-rigth arrow-title">
                        <div class="arrow-border"></div>
                        <a href="#">
                            Derecho Penal
                            <img src="../images/icons/hummer.png" alt="Lawyer hummer..">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid w-100 mb-5">
            <div class="row arrow left-arrow" id="merchantArrow">
                <div class="col-md-6">
                    <div class="container-fluid arrow-title corner corner-left">
                        <div class="arrow-border"></div>
                        <a href="#">
                            <img src="../images/icons/balance.png" alt="Lawyer balance..">
                            Derecho Mercantil
                        </a>
                    </div>
                </div>
                <div class="col-md-6 arrow-text">
                    <p>
                        Contratos mercantiles
                        - Derecho societario
                        - Modificaciones estructurales: fusión, escisión, segregación
                        - Procedimientos concursales: persona física y jurídica
                        - Ley de Segunda Oportunidad
                        - Propiedad Industrial e Intelectrial
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid w-100 mb-5">
            <div class="row arrow right-arrow" id="workArrow">
                <div class="col-md-6 arrow-text">
                    <p>
                        Despidos
                        - Contratos laborales
                        - Prestaciones de la Seguridad Social
                        - Vulneración de Derechos Fundamentales
                        - Reclamación de cantidad y reconocimiento de derechos
                        - Modificaciones sustanciales de las condiciones del trabajo
                        - Negociación extrajudicial y conciliación
                    </p>
                </div>
                <div class="container-fluid col-md-6">
                    <div class="container-fluid corner corner-rigth arrow-title">
                        <div class="arrow-border"></div>
                        <a href="#">
                            Derecho Laboral
                            <img src="../images/icons/briefcase.png" alt="Lawyer briefcase..">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid w-100 mb-5">
            <div class="row arrow left-arrow" id="adminArrow">
                <div class="col-md-6">
                    <div class="container-fluid arrow-title corner corner-left">
                        <div class="arrow-border"></div>
                        <a href="#">
                            <img src="../images/icons/bank.png" alt="Lawyer bank..">
                            Derecho Administrativo
                        </a>
                    </div>
                </div>
                <div class="col-md-6 arrow-text">
                    <p>
                        Reclamaciones administrativas
                        - Expedientes sancionadores
                        - Licencias
                        - Plusvalías
                        - Responsabilidad patrimonial de la Administración
                        - Subvenciones y ayudas
                        - Expropiaciones
                        - Urbanismo
                        - Extranjería
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid w-100 mb-5">
            <div class="row arrow right-arrow" id="helpArrow">
                <div class="col-md-6 arrow-text">
                    <p>
                        Fiscal - Laboral - Contable
                    </p>
                </div>
                <div class="container-fluid col-md-6">
                    <div class="container-fluid corner corner-rigth arrow-title">
                        <div class="arrow-border"></div>
                        <a href="#">
                            Asesoria
                            <img src="../images/icons/money.png" alt="Lawyer money..">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid w-100 mb-5">
            <div class="row arrow left-arrow" id="middleArrow">
                <div class="col-md-6">
                    <div class="container-fluid arrow-title corner corner-left">
                        <div class="arrow-border"></div>
                        <a href="#">
                            <img src="../images/icons/handshake.png" alt="Lawyer handshake..">
                            Mediación
                        </a>
                    </div>
                </div>
                <div class="col-md-6 arrow-text">
                    <p>
                        Civil - Mercantil - Laboral
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="carousel" class="carousel slide mb-5 d-none" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption d-block">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo...
                </p>
                <a href="#">Leer mas...</a>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="carousel-caption d-block">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo...
                </p>
                <a href="#">Leer mas...</a>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="carousel-caption d-block">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo...
                </p>
                <a href="#">Leer mas...</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>