<div class="main-container services-container">
    <div class="container-fluid w-100 services-content">
        <div class="row">
            <div class="container-fluid w-100 services-title">
                Derecho civil
            </div>
            <div class="col col-12 col-xl-5">
                <div class="container-fluid w-100 services-text">
                    El despacho cuenta con una amplia experiencia en todo tipo de asuntos civiles. Nuestros
                    profesionales llevan más de 25 años asesorando en todo tipo de procedimientos, siempre
                    luchando por los intereses de los clientes y ofreciendo un servicio profesional excelente,
                    avalado por los innumerables procedimientos acumulados en todos estos años de práctica
                    jurídica.
                </div>
        
                <div class="container-fluid w-100 services-text">
                    El equipo cuenta con grandes abogados procesalistas con una depurada técnica jurídica
                    para la redacción de escritos (demandas, recursos de apelación y recursos de infracción
                    procesal y casación ante el Tribunal Supremo), además de una gran habilidad para la
                    defensa en juicio de los intereses de los clientes.
                </div>
        
                <div class="container-fluid w-100 services-text">
                    Nuestros profesionales cuentan con conocimientos muy amplios en la materia,
                    destacando especialmente en la buena llevanza de temas de gran complejidad técnica.
                    Contamos además con el auxilio de un gran equipo de peritos profesionales en cada una
                    de las materias requeridas (médicos, economistas, arquitectos, psicólogos, mecánicos,
                    etc.).
                </div>
            </div>
            <div class="col col-12 col-xl-7">
                <div class="container-fluid w-100 services-list">

                    <div class="services-list-title">
                        Los servicios que ofrecemos son los siguientes:
                    </div>
                
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Representación y defensa</span> en todo tipo de demandas judiciales del orden civil e
                        interposición de recursos en todas las instancias.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Redacción y revisión de contratos civiles</span> de compraventa, arras, arrendamiento,
                        usufructo, donaciones, testamentos, hipotecas etc.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Familia: </span>divorcios, separaciones, nulidades matrimoniales, redacción de
                        Convenio Regulador, guarda y custodia de hijos, uso y disfrute de la vivienda
                        conyugal, pensión de alimentos y pensión compensatoria, liquidación de bienes
                        gananciales.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Herencias y testamentos: </span>declaración herederos, aceptación y partición de
                        herencia, elaboración de cuadernos particionales, pago de impuestos,
                        adjudicación de la herencia, procedimientos de división judicial de herencia.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Arrendamientos y Desahucios: </span>Asesoramiento a propietarios e inquilinos en
                        procedimientos arrendaticios, demandas y procedimientos judiciales dedesahucio, 
                        incumplimientos contractuales de las partes, reclamación de cantidades.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Defectos de la construcción: </span>asistencia al inmueble y asesoramiento legal de los
                        defectos constructivos, elaboración de informes periciales por arquitecto
                        especializado, demandas de reclamación de defectos constructivos.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Reclamaciones bancarias: </span>intereses abusivos a consumidores y usuarios,
                        clausulas suelo, tarjetas revolving, reclamación de gastos hipotecarios, IRPH,
                        intereses moratorios, hipoteca multidivisa.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Comunidades de Propietarios: </span>Propiedad horizontal, Administración de fincas,
                        impago de cuotas de comunidad, problemas en comunidades de propietarios,
                        incumplimiento de acuerdos de la Comunidad y asistencia a Juntas.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Procedimientos de incapacitación: </span>asesoramiento en los procedimientos de
                        incapacitación, procedimientos de apoyo a las personas con discapacidad en el
                        ejercicio de su capacidad jurídica, elaboración de informes periciales médicos y
                        psicológicos y asistencia a juicio del perito.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Reclamación por culpa o negligencia contractual y extracontractual:</span>
                        reclamación de indemnizaciones al seguro, negligencias médicas, accidentes de
                        tráfico, seguro del hogar.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Reclamación de cantidad extrajudicial y judicial: </span>deudas líquidas, vencidas y
                        exigible, impagos de facturas, albaranes, etc.</p>
                    </div>
            </div>
            </div>
        </div>        
    </div>
</div>