<div class="main-container services-container">
    <div class="container-fluid w-100 services-content">
        <div class="row" id="civil">
            <div class="container-fluid w-100 services-title">
                Derecho civil
            </div>
            <div class="col col-12 col-xl-5">
                <div class="container-fluid w-100 services-text">
                    El despacho cuenta con una amplia experiencia en todo tipo de asuntos civiles. Nuestros
                    profesionales llevan más de 25 años asesorando en todo tipo de procedimientos, siempre
                    luchando por los intereses de los clientes y ofreciendo un servicio profesional excelente,
                    avalado por los innumerables procedimientos acumulados en todos estos años de práctica
                    jurídica.
                </div>

                <div class="container-fluid w-100 services-text">
                    El equipo cuenta con grandes abogados procesalistas con una depurada técnica jurídica
                    para la redacción de escritos (demandas, recursos de apelación y recursos de infracción
                    procesal y casación ante el Tribunal Supremo), además de una gran habilidad para la
                    defensa en juicio de los intereses de los clientes.
                </div>

                <div class="container-fluid w-100 services-text">
                    Nuestros profesionales cuentan con conocimientos muy amplios en la materia,
                    destacando especialmente en la buena llevanza de temas de gran complejidad técnica.
                    Contamos además con el auxilio de un gran equipo de peritos profesionales en cada una
                    de las materias requeridas (médicos, economistas, arquitectos, psicólogos, mecánicos,
                    etc.).
                </div>
            </div>
            <div class="col col-12 col-xl-7">
                <div class="container-fluid w-100 services-list">

                    <div class="services-list-title">
                        Los servicios que ofrecemos son los siguientes:
                    </div>

                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Representación y defensa</span> en todo tipo de demandas judiciales del orden civil e
                            interposición de recursos en todas las instancias.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Redacción y revisión de contratos civiles</span> de compraventa, arras, arrendamiento,
                            usufructo, donaciones, testamentos, hipotecas etc.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Familia: </span>divorcios, separaciones, nulidades matrimoniales, redacción de
                            Convenio Regulador, guarda y custodia de hijos, uso y disfrute de la vivienda
                            conyugal, pensión de alimentos y pensión compensatoria, liquidación de bienes
                            gananciales.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Herencias y testamentos: </span>declaración herederos, aceptación y partición de
                            herencia, elaboración de cuadernos particionales, pago de impuestos,
                            adjudicación de la herencia, procedimientos de división judicial de herencia.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Arrendamientos y Desahucios: </span>Asesoramiento a propietarios e inquilinos en
                            procedimientos arrendaticios, demandas y procedimientos judiciales dedesahucio,
                            incumplimientos contractuales de las partes, reclamación de cantidades.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Defectos de la construcción: </span>asistencia al inmueble y asesoramiento legal de los
                            defectos constructivos, elaboración de informes periciales por arquitecto
                            especializado, demandas de reclamación de defectos constructivos.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Reclamaciones bancarias: </span>intereses abusivos a consumidores y usuarios,
                            clausulas suelo, tarjetas revolving, reclamación de gastos hipotecarios, IRPH,
                            intereses moratorios, hipoteca multidivisa.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Comunidades de Propietarios: </span>Propiedad horizontal, Administración de fincas,
                            impago de cuotas de comunidad, problemas en comunidades de propietarios,
                            incumplimiento de acuerdos de la Comunidad y asistencia a Juntas.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Procedimientos de incapacitación: </span>asesoramiento en los procedimientos de
                            incapacitación, procedimientos de apoyo a las personas con discapacidad en el
                            ejercicio de su capacidad jurídica, elaboración de informes periciales médicos y
                            psicológicos y asistencia a juicio del perito.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Reclamación por culpa o negligencia contractual y extracontractual:</span>
                            reclamación de indemnizaciones al seguro, negligencias médicas, accidentes de
                            tráfico, seguro del hogar.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p><span>Reclamación de cantidad extrajudicial y judicial: </span>deudas líquidas, vencidas y
                            exigible, impagos de facturas, albaranes, etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid w-100 services-content">
        <div class="row" id="penal">
            <div class="container-fluid w-100 services-title">
                Derecho penal
            </div>
            <div class="col col-12">
                <div class="container-fluid w-100 services-text">
                    Los abogados especialistas que conforman el departamento de derecho penal llevan más de 20 años
                    asesorando a particulares y empresas, por lo que poseen experiencia en los tribunales litigando en
                    todo
                    tipo de delitos y procedimientos.
                </div>

                <div class="container-fluid w-100 services-text">
                    Además, disponemos de un departamento específico de compliance, que proporciona un asesoramiento
                    jurídico especializado para las empresas.
                </div>
            </div>
            <div class="col col-12">
                <div class="container-fluid w-100 services-list">

                    <div class="services-list-title">
                        Nuestros profesionales ofrecen un servicio de máxima calidad en el amplio espectro de materias
                        que abarcan, como las siguientes:
                    </div>

                    <div class="services-list-separator">
                        Derecho de las personas físicas
                    </div>

                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Acusación y defensa en todo tipo de procedimientos y delitos de persona física ya sean leves
                            o graves.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Defensa de los derechos de víctimas y perjudicados, reclamando para restituir sus derechos y
                            reparar el daño causado.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Asistencia al detenido y defensa del acusado, estando presentes en el proceso desde el
                            momento de la detención</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Delitos contra el patrimonio, actuando como acusación o defensa en delitos de hurto, robos o
                            estafas.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Violencia de género: dando una asistencia personalizada a las víctimas por su especial
                            vulnerabilidad.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Delitos contra la seguridad del tráfico: asistencia y defensa en juicios rápidos por
                            alcoholemia,
                            exceso de velocidad o conducción sin permiso.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Delitos contra el honor, como injurias o calumnias.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Delitos contra la libertad e indemnidad sexual.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Delitos de usurpación derivados de la okupacion ilegal</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Delitos de salud pública, especializados en la defensa en los delitos de tráfico de drogas.
                        </p>
                    </div>

                    <div class="services-list-separator">
                        Derecho de las personas jurídicas
                    </div>

                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Departamento de Compliance: nuestro departamento de compliance proporciona un
                            asesoramiento completo para velar por el cumplimiento normativo de la empresa.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Responsabilidad penal de las personas jurídicas, para exigir responsabilidad por delitos
                            cometidos por las empresas.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Delitos económicos de las empresas, ejerciendo como acusación o defensa en estafas,
                            delitos fiscales o delito de daños.</p>
                    </div>
                    <div class="services-list-item">
                        <img src="../images/icons/ok.png" alt="Ok icon...">
                        <p>Delitos contra la seguridad de los trabajadores e imprudencias profesionales, proporcionando
                            un asesoramiento
                            específico en materia de prevención de riesgos laborales.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>