#navbar {
    height: 160px;
    padding: 0px;
    margin-bottom: 15px;
    background: #F1F1F1;
    -webkit-box-shadow: 0px 10px 22px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px -17px rgba(0,0,0,0.75);
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    transition: height .2s linear;
}   

#navbar .container-fluid {
    max-width: 1200px;
    margin: 0px auto;
}

#navbar .navbar-brand img {
    width: 200px;
    transition: width .1s linear;
}

#navbar .navbar-toggler:focus,
#navbar .navbar-toggler:active,
#navbar .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none
}

#navbar button#makeQueryBtn {
    height: 45px;
}

#navbar .navbar-toggler {
    margin-top: 10px;
    border: none;
    padding: 0px;
    margin-right: 10px;
}

#navbar .navbar-toggler div {
    width: 35px;
    height: 24px;
    position: relative;
    margin: 0px;
}

#navbar .navbar-toggler div span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    background: #455E81;
}

#navbar .navbar-toggler div span:nth-child(1) {
    top: 0px;
}

#navbar .navbar-toggler div span:nth-child(2) {
    top: 12px;
}

#navbar .navbar-toggler div span:nth-child(3) {
    top: 24px;
}

#navbar .navbar-collapse .navbar-nav li {
    margin: auto;
}

#navbar .navbar-collapse .navbar-nav a:hover {
    color: #243763
}

#navbar .navbar-collapse .navbar-nav a {
    color: #566D8C;
    font-weight: 800;
    font-family: 'title-font';
    -webkit-transition: all .1s linear ;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

#navbar .navbar-collapse .navbar-nav a.active {
    color: #243763;
    font-weight: bold;
}

#navbar .languaje-buttons {
    display: inline-block;
    margin-right: 30px;
}

#navbar .languaje-buttons button {
    padding: 0px;
    border: 0px;
    margin: 0px 2px;
}

#navbar .languaje-buttons img {
    width: 25px;
}

#navbar .dropdown-menu {
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    box-shadow: 10px 10px 22px -17px rgb(0 0 0 / 75%);
    left: -100px;
}

#navbar .dropdown-menu a:hover {
    background: none;
}

#navbar.sticky-active {
    height: 85px;
}

#navbar.sticky-active .navbar-brand img {
    width: 110px;
}

#navbar.sticky-active #makeQueryBtn {
    height: 35px;
}

#navbar.sticky-active .navbar-collapse .navbar-nav a {
    font-size: 15px;
    padding: 0px 10px;
}

#navbar.sticky-active .languaje-buttons img {
    width: 20px;
}

@media only screen and (max-width: 768px) {
    #navbar .navbar-collapse {
        position: absolute;
        z-index: 1;
        top: 157px;
        right: 0px;
        left: 0px;
        padding: 15px;
        background: #F1F1F1;
        text-align: center;
    }

    #navbar .container-fluid {
        padding: 0px;
    }

    #navbar .dropdown-menu {
        position: absolute;
    }

    #navbar.sticky-active .navbar-collapse {
        top: 85px;
    }

    #navbar.sticky-active .navbar-collapse .navbar-nav a {
        padding: 10px;
    }

    #navbar.sticky-active .navbar-toggler div {
        width: 30px;
    }

    #navbar.sticky-active .navbar-toggler div span:nth-child(1) {
        top: 0px;
    }
    
    #navbar.sticky-active .navbar-toggler div span:nth-child(2) {
        top: 10px;
    }
    
    #navbar.sticky-active .navbar-toggler div span:nth-child(3) {
        top: 20px;
    }
}

@media only screen and (max-width: 576px) {
    #navbar .languaje-buttons {
        margin-right: 0px;
        position: relative;
        top: -10px;
    }

    #navbar.sticky-active .languaje-buttons {
        display: none;
    }
}