<footer id="mainFooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 menu-info">
                <div>
                    <a href="#">Servicios</a>
                    <a href="#">Equipo</a>
                </div>
                <div>
                    <a href="./contact">Haz tu consulta</a>
                </div>
            </div>
            <div class="col-md-6 email-info">
                <a id="sendEmailFooter" href="#">info@cortelegalabogados.com</a>
            </div>
            <div class="col-md-12 data-info">
                <a href="#">Protección de datos</a>
                <a href="#">Política de cookies</a>
                <a href="#">Aviso legal</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="social-info">
            <p>Síguenos</p>
            <a href="#"><img src="../images/icons/in-icon.png" alt="Linkedin icon..."></a>
            <a href="#"><img src="../images/icons/fb-icon.png" alt="Facebook icon..."></a>
            <a href="#"><img src="../images/icons/ig-icon.png" alt="Instagram icon..."></a>
        </div>
    </div>
</footer>