<div class="main-container team-container">

    <div class="container-fluid w-100 team-title">
        Nuestro equipo
    </div>

    <div class="container-fluid w-100 team-text">
        En Corte Legal contamos con un magnífico equipo integrado por abogados y mediadores
        civiles y mercantiles. Nuestros profesionales son además profesores en Centros
        Universitarios en los que imparten las asignaturas propias de cada una de sus
        especialidades. Esto otorga a los integrantes del despacho un conocimiento mucho más
        completo de nuestro ordenamiento jurídico e incide muy positivamente en la llevanza de
        los asuntos que se presentan.
    </div>

    <div class="container-fluid w-100 team-text">
        El grupo mezcla la formación y veteranía de abogados con más de 25 años de experiencia
        en todas las áreas de práctica jurídica con la ambición, actitud y esfuerzo que aportan los
        jóvenes abogados que se han ido uniendo y que ya forman parte de este equipo.
    </div>

    <div class="container-fluid w-100 team-text">
        Somos especialistas en todas las áreas de práctica (civil-mercantil, penal, laboral y
        administrativo), poniendo en común cada una de las decisiones y proporcionando los
        distintos puntos de vista en cada asunto para dar así una visión global y completa de los
        casos que garantice la mayor profesionalidad y cuidado al cliente.
    </div>

    <div class="container-fluid w-100 team-text">
        Contamos además con un equipo de peritos y profesionales en todas aquellas materias
        que requieren la emisión de informes de expertos para la resolución de cada uno de los
        asuntos. Entre ellos podemos destacar:
    </div>

    <div class="container-fluid w-100 team-list">
        <div class="row">
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Peritos médicos</span>
            </div>
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Peritos psicólogos</span>
            </div>
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Peritos arquitectos</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Peritos economistas y contables</span>
            </div>
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Peritos tasadores inmobiliarios</span>
            </div>
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Administradores de fincas</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Peritos informáticos</span>
            </div>
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Auditores de cuentas</span>
            </div>
            <div class="col-md-6 col-xl-4 team-list-item">
                <span>Peritos Mecánicos</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 team-list-item">
                <span>Detectives privado</span>
            </div>
            <div class="col-md-8 team-list-item">
                <span>Administradores Concursales y Expertos en reestructuración concursal</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 team-list-item">
                <span>Contadores Partidores de Herencias Liquidadores de testamentarías, abintestatos,
                    sociedades de gananciales y proindivisos</span>
            </div>
        </div>
    </div>

</div>