/** -- CONTAINER IMAGE -- **/

.container-img {
    position: relative;
    text-align: center;
    background-image: url('../images/city.png');
    height: 550px;
    -webkit-box-shadow: 0px 15px 22px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 22px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 22px -17px rgba(0,0,0,0.75);
}

.container-img div {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #E8E8E8;
    transform: translate(-50%, -50%);
    width: 90%;
    font-family: 'main-font';
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.container-img div p {
    margin: 15px;
}

@media screen and (max-width: 768px) {
    .container-img {
        height: 450px;
    }

    .container-img div {
        font-size: 15px;
    }

    .container-img div p {
        margin: 10px;
    }

    .container-img div img {
        width: 120px;
    }
}

/** -- CONTAINER IMAGE -- **/

/** -- ARROWS -- **/

.container-arrows .left-arrow.active > div,
.container-arrows .right-arrow.active > div {
    transition: opacity .2s linear, all 1s linear;
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
}

.container-arrows .left-arrow.active div.arrow-border {
    transition: opacity .2s linear, all 1s linear;
    opacity: 1 !important;
    box-shadow: 0px 5px 20px -20px rgb(0 0 0 / 75%);
}

.container-arrows .right-arrow.active div.arrow-border {
    transition: opacity .2s linear, all 1s linear;
    opacity: 1 !important;
    box-shadow: 0px 5px 20px -20px rgb(0 0 0 / 75%);
}

.container-arrows .left-arrow > div:nth-child(1),
.container-arrows .right-arrow > div:nth-child(1) {
    transform: translate(-80px, 0px);
    opacity: 0;
}

.container-arrows .left-arrow > div:nth-child(2),
.container-arrows .right-arrow > div:nth-child(2) {
    transform: translate(80px, 0px);
    opacity: 0;
}

.container-arrows div.arrow-title {
    padding: 0px;
    font-family: 'title-font' !important;
    color: #E8E8E8;
}

.container-arrows div.arrow-title a {
    position: absolute;
    top: 25%;
    color: #E8E8E8;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.container-arrows div.arrow-title a img {
    width: 35px;
    margin-top: -10px;
}

.container-arrows .left-arrow div.arrow-title a img {
    margin-right: 15px;
}

.container-arrows .right-arrow div.arrow-title a img {
    margin-left: 15px;
}

.container-arrows .left-arrow div.arrow-title a {
    right: 10%;
}

.container-arrows .right-arrow div.arrow-title a {
    left: 10%;
}

.container-arrows div.arrow-text {
    display: table;
    font-family: 'main-font' !important;
    color: #404040;
    font-weight: bold;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
    box-shadow: 0px 5px 20px -20px rgb(0 0 0 / 75%);
}

.container-arrows .left-arrow div.arrow-text {
    border-right: 4px solid #243763;
}

.container-arrows .right-arrow div.arrow-text {
    border-left: 4px solid #243763;
}

.container-arrows div.arrow-text p {
    text-align: center;
    vertical-align: middle;
    display: table-cell
}

.container-arrows div.arrow-border {
    border-top: 2px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
    position: absolute;
    height: 90px;
    width: 100%;
    transform: translate(0px, -7px);
}

.container-arrows div.arrow-border:before {
    content: "";
    position: absolute;
    width: 63px;
    top: 11px;
    transform: rotate(45deg);
    height: 63px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container-arrows .left-arrow .arrow-border:before {
    right: -32px;
    border-right: 2px solid #E1E1E1;
    border-top: 2px solid #E1E1E1;
}

.container-arrows .right-arrow .arrow-border:before {
    left: -32px;
    border-left: 2px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
}

.container-arrows div.arrow-border:after {
    content: "";
    position: absolute;
    height: 90px;
    top: -2px;
    border-top: 2px solid #E1E1E1;
    width: 6px;
    border-radius: 5px;
    border-bottom: 2px solid #E1E1E1;
}

.container-arrows .left-arrow .arrow-border:after {
    left: -5px;
    border-left: 2px solid #E1E1E1;
}

.container-arrows .right-arrow div.arrow-border:after {
    border-right: 2px solid #E1E1E1;
    right: -5px;
}

.corner {
    background-color: #243763;
    margin: 10px;
    position: relative;
    min-height: 75px;
    max-width: 80%;
}

.corner:after,
.corner:before
{
    background-color: #243763;
    background: none;
    content: "";
    position: absolute;
    width: 37px;
    height: 50%;
}

.corner-left:before {
    top: 0px;
    background: linear-gradient(to top right, #243763 50%, transparent 51%);
}

.corner-left:after {
    bottom: 0px;
    background: linear-gradient(to bottom right, #243763 50%, transparent 51%);
}

.corner-rigth:before {
    top: 0px;
    background: linear-gradient(to top left, #243763 50%, transparent 51%);
}

.corner-rigth:after {
    bottom: 0px;
    background: linear-gradient(to bottom left, #243763 50%, transparent 51%);
}

.corner-left:after,
.corner-left:before {
    left: 100%;
}

.corner-rigth:after,
.corner-rigth:before {
    right: 100%;
}

@media screen and (max-width: 960px) {
    .container-arrows .left-arrow > div:nth-child(1),
    .container-arrows .right-arrow > div:nth-child(1) {
        transform: none;
    }

    .container-arrows .left-arrow > div:nth-child(2),
    .container-arrows .right-arrow > div:nth-child(2) {
        transform: none;
    }
}

@media screen and (max-width: 768px) {
    .container-arrows > div > div {   
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 16px -14px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 16px -14px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 16px -14px rgba(0,0,0,0.75);
    }

    .container-arrows > div > div > div {   
        padding: 0px;
    }

    .container-arrows div.arrow-text {
        padding: 10px;
        background: #F1F1F1;
    }

    .container-arrows .right-arrow div.arrow-text {
        order: 1;
    }

    .container-arrows div.arrow-title {
        text-align: center;
        padding-top: 18px;
    }

    .corner {
        min-height: 60px;
        max-width: 100%;
        margin: 0px;
    }

    .corner:after,
    .corner:before
    {
        display: none;
    }

    .container-arrows div.arrow-border {
        display: none;
    }

    .container-arrows div.arrow-title a {
        font-size: 18px;
        position: initial;
    }
    
    .container-arrows div.arrow-title a img {
        width: 35px;
    }

    .container-arrows .left-arrow div.arrow-text {
        border-right: 1px solid #E1E1E1;
    }
    
    .container-arrows .right-arrow div.arrow-text {
        border-left: 1px solid #E1E1E1;
    }
}

/** -- ARROWS -- **/

/** -- CAROUSEL -- **/

.carousel {
    height: 400px;
    -webkit-box-shadow: 0px -10px 22px -17px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px -10px 22px -17px rgb(0 0 0 / 75%);
    box-shadow: 0px -10px 22px -17px rgb(0 0 0 / 75%);
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-item {
    height: 100%;
    background: url('../images/post.png');
}

.carousel .carousel-item h2 {
    margin-bottom: 15px;
    color: #E8E8E8;
}

.carousel .carousel-item p {
    font-weight: bold;
    color: #E8E8E8;
    font-style: italic;
}

.carousel .carousel-item a {
    text-decoration: none;
    font-family: 'main-font';
    font-weight: bold;
    color: #E8E8E8;
}

.carousel .carousel-indicators button {
    background-color: #E8E8E8;
}

/** -- CAROUSEL -- **/